<!DOCTYPE html>
<html>
<head>
	<title>{{properties.title}}</title>
	{{ dropzone.load_css() }}


	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/IndexStyle.css') }}">


</head>

<body ondragover="handleDrag(event);" ondragexit="handleDrop(event);">


	{{ dropzone.load_js() }}
	{{ dropzone.create(action='setDataset') }}
	{{ dropzone.config(custom_config="clickable:false") }}

	{{ 

		dropzone.style(
						'	
							position: fixed;
						    height: 100vh;
						    width: 100vw;
						    z-index: -1;
						    margin: 0;
						    padding: 0;
						    opacity:0;
						    transition: .5s all;
	    				'
					  ) 
	}}

	<script type="text/javascript">
		Dropzone.options.myDropzone.success= function(file, response){
			response[0] += ": "+file.name
			writeToPredictionElement(response)
   	  	 };
   	  	 Dropzone.options.myDropzone.sending= async function(){
   	  	 	predLoc().innerText = "Uploading..."
			await wait();
   	  	 };
	</script>
	
	<div id="parameters"></div>

	<div id="other">
		<div id="output">
			<div id="prediction">{{properties.initial_prediction}}</div>
			<div id="description">{{properties.initial_description}}</div>

		</div>
		<div class="center">
			<textarea id="input">{{properties.initial_input}}</textarea>
		  	<select name="acts" id="acts" onchange="callOnMethodChange();">
			    <option value="predict">Predict</option>
			    <option value="split">Split</option>
			    <option value="test">Test</option>
			    <option value="train">Train</option>
		 	</select>
			<nav id="model-tree"></nav>


		</div>

	</div>
</body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/requestFunctions.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/structureBuilder.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/userInput.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/IndexJs.js') }}"></script>
	<script type="text/javascript">
		var items = document.getElementsByTagName("a");
		for(var i=0;i<items.length;i++){
			items[i].onclick = click;
		}
	</script>
</html>