<!DOCTYPE html>
<html>
<head>
	<title>{{properties.title}}</title>
	
	<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/IndexStyle.css') }}">


</head>

<body>
	<div id="parameters"></div>

	<div id="other">
		<div id="output">
			<a id="prediction">{{properties.initial_prediction}}</a>
			<a id="description">{{properties.initial_description}}</a>

		</div>
		<div class="center">
			<textarea id="input">{{properties.initial_input}}</textarea>
		  	<select name="acts" id="acts" onchange="callOnMethodChange();">
			    <option value="predict">Predict</option>
			    <option value="split">Split</option>
			    <option value="test">Test</option>
			    <option value="train">Train</option>
		 	</select>
			<nav id="model-tree"></nav>


		</div>

	</div>
</body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/requestFunctions.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/structureBuilder.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/userInput.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/IndexJs.js') }}"></script>
	<script type="text/javascript">
		var items = document.getElementsByTagName("a");
		for(var i=0;i<items.length;i++){
			items[i].onclick = click;
		}
	</script>
</html>